*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.text-center{
  text-align: center;
}
.PrivateTabIndicator-colorSecondary-8 {
  background-color: #000 !important;
  height: 3px !important;
}